h1{
  color: white;
}
html{
  background-color: black;
  font-family: '8bitOperatorPlus';
}
.App {
  text-align: center;
}
.App-전체화면 {
}
.App-전체화면-게임화면{
  display: flex;
  justify-content: center;
  align-items: center;
}

.기록{
  background-color: white;
  width: 400px;
  height: 700px;
  border: dotted;
  border-radius: 5px;
}
.타이머{
  width: 180px;
  height: 100px;
  margin-right: 50px;
}
.나의기록{
  background-color: antiquewhite;
  margin: 2px;
}

@font-face {
  font-family: '8bitOperatorPlus';
  src: url('/public/fonts/8bitOperatorPlus8-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: '8bitOperatorPlus';
  src: url('/public/fonts/8bitOperatorPlus8-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: '8bitOperatorPlus';
  src: url('/public/fonts/8bitOperatorPlus-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: '8bitOperatorPlus';
  src: url('/public/fonts/8bitOperatorPlus-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: '8bitOperatorPlus';
  src: url('/public/fonts/8bitOperatorPlusSC-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: '8bitOperatorPlus';
  src: url('/public/fonts/8bitOperatorPlusSC-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}