.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.제목{
  text-align: center;
  margin: 40px;
}

.전체화면 {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.미정{
  background-color: white;
  width: 400px;
  height: 950px;
  margin-left: 20px;
  border: dotted;
  border-radius: 5px;
}



.게임화면{
  display: flex;
  justify-content: center;
  align-items: center;
}

.기록{
  background-color: white;
  width: 750px;
  height: 250px;
  display: flex;
  border: dotted;
  border-radius: 5px;
}
.타이머{
  width: 180px;
  height: 100px;
}
h1{
  color: white;
}
html{
  background-color: black;
}