
button{
    border-radius: 5px;
    border: dotted;
    margin: 5px;
}
.퍼즐{
    width: 550px;
    height: 550px; 
    display: flex;
    margin: 50px;
    background-color: white;
    border-radius: 5px;
    border: dotted;
}
.퍼즐-컨테이너 {
    display: grid;
    margin: auto;
    width: 500px;
    height: 500px;
    background-color: black;
    justify-content: center;
    border: dotted 4px;
}
.퍼즐-조각 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    font-size: 24px;
    cursor: pointer;
    user-select: none;
}
.퍼즐-조각:hover{
    background-color: sandybrown;
}
.퍼즐-조각:active{
    transform: scale(0.95);
}
.빈칸 {
    background-color: transparent;
    cursor: default;
    color: transparent;
}
.빈칸:hover{
    background-color: transparent;
}