.퍼즐{
    width: 450px;
    height: 450px; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    margin-bottom: 10px;
}
.btn {
    background-color: antiquewhite;
    opacity: 0.3;
    width: 410px;
    height: 410px;
    z-index: 2;
}
.퍼즐-컨테이너 {
    display: grid;
    gap: 2px;
    margin: auto;
}
.퍼즐-조각 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: burlywood;
    color: brown;
    font-size: 24px;
    cursor: pointer;
    user-select: none;
    width: 100px;
    height: 100px;
    border-radius: 8px;
}
.퍼즐-조각:hover{
    background-color: sandybrown;
}
.퍼즐-조각:active{
    transform: scale(0.95);
}



.빈칸 {
    background-color: transparent;
    cursor: default;
    color: transparent;
}
.빈칸:hover{
    background-color: transparent;
}