.퍼즐{
    width: 450px;
    height: 450px; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    margin-bottom: 10px;
}
.btn {
    background-color: antiquewhite;
    opacity: 0.3;
    width: 410px;
    height: 410px;
    z-index: 2;
    position: absolute;
}
.퍼즐-컨테이너 {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
    gap: 2px;
    margin: auto;
}
.퍼즐-조각 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: burlywood;
    color: brown;
    font-size: 24px;
    cursor: pointer;
    user-select: none;
    width: 100px;
    height: 100px;
    border-radius: 8px;
}

.빈칸 {
    background-color: transparent;
    cursor: default;
    color: transparent;
}

